TextInverterClient/Connected Services/ServiceReference1/TextInverterWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="TextInverter">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="inputstring" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TextInverterResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TextInverterResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="TextInverterSoapIn">
    <wsdl:part name="parameters" element="tns:TextInverter" />
  </wsdl:message>
  <wsdl:message name="TextInverterSoapOut">
    <wsdl:part name="parameters" element="tns:TextInverterResponse" />
  </wsdl:message>
  <wsdl:portType name="TextInverterWebServiceSoap">
    <wsdl:operation name="TextInverter">
      <wsdl:input message="tns:TextInverterSoapIn" />
      <wsdl:output message="tns:TextInverterSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TextInverterWebServiceSoap" type="tns:TextInverterWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TextInverter">
      <soap:operation soapAction="http://tempuri.org/TextInverter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TextInverterWebServiceSoap12" type="tns:TextInverterWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TextInverter">
      <soap12:operation soapAction="http://tempuri.org/TextInverter" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TextInverterWebService">
    <wsdl:port name="TextInverterWebServiceSoap" binding="tns:TextInverterWebServiceSoap">
      <soap:address location="http://localhost:53581/TextInverterWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="TextInverterWebServiceSoap12" binding="tns:TextInverterWebServiceSoap12">
      <soap12:address location="http://localhost:53581/TextInverterWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>